.col-6{
    padding: 0.7rem !important;
    text-align: center;
    border: 1px solid gray;
}

.left{
    width: 48%;
    margin: 0 1rem 0 0;
}


.differnt {
    background-color: #FFE4B5;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    border: none !important;
}

.right-border {
    border-right: 1px solid gray;
}

.border-all {
    padding: 0.7rem !important;
    text-align: center;
    border: 1px solid gray;
    width: 99.22%;
    font-size: 1.2rem;
    font-weight: 400;
}

.key {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

.value {
    font-size: 1rem;
    color: black;
}